@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  margin: 0;
  background-color: var(--secondcolor) !important;
  padding: 0;
}

:root {
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --black: #222;
  --maincolor: #f1a593;
  --secondcolor: #ffd1c7;
  --text-black: #333;
  --small-font-size: 16px;
  --whitecolor: #fffdfe;
  --icon-size: 20px;
  --header-padding: 16px;
  --font-color: #333;
  --m-font-size: 18px;
  --btn-bg-color: #1e73be;
  --hero-h1: 43px;
}

* > img {
  user-select: none;
  pointer-events: none;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--maincolor);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 15px;
}

.container {
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.b-btn {
  position: absolute;
  background-color: var(--secondcolor);
  z-index: 1;
  color: #333;
  text-decoration: none;
  left: 58px;
  top: 33px;
  padding: 8px;
  border-radius: 14px;
}

.b-btn i {
  margin-left: 3px;
}

.btn {
  width: 150px;
  background-color: #f1a593;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ffd1c7;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 2;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333 !important;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input:focus {
  color: #aaa;
  margin: 10px;
  font-weight: 600;
}

/* avatar-upload */
.containers {
  max-width: 960px;
  margin: 30px auto 0px auto;
  padding: 20px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0px;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #333;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: var(--box-shadow);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}